@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.backbone::-webkit-scrollbar {
    width: 17px;
    
}
 
/* Track */
.backbone::-webkit-scrollbar-track {
    background: #282B2F;
    border-radius: 20px;
    border: 1px solid #28D07E;
}
 
/* Handle */
.backbone::-webkit-scrollbar-thumb {
    background: #285C47;
    border-radius: 5px;
}
 
/* Handle on hover */
.backbone::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.NavSec.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}