@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.backbone::-webkit-scrollbar {
    width: 17px;
}
 
/* Track */
.backbone::-webkit-scrollbar-track {
    background: #282B2F;
    border-radius: 20px;
    border: 1px solid #28D07E;
}
 
/* Handle */
.backbone::-webkit-scrollbar-thumb {
    background: #285C47;
    border-radius: 5px;
}
 
/* Handle on hover */
.backbone::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.NavSec.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.writerD .swiper-wrapper{
padding-top: 2rem;
padding-bottom: 3rem;
}
.clientitems .swiper-wrapper{
    padding-top: 4rem;
    padding-bottom: 4rem;
    }

.pricingBoxPath{
clip-path: polygon(51% 63%, 0 0, 100% 0);
height: 180px;
background: #2C3539;
position: absolute;
left: 0;
right: 0;
bottom: -180.1px;
}
.swiper-slide{
    height: auto !important;
}

.serviceHover:hover ul.dropdown{
    display: block;
    position: absolute;
    top: 5.8rem;
    background: #28D07E;
    padding: 1rem 1rem;
    min-width: 320px;
    z-index: 1;
}
.serviceHover:hover ul.dropdown li a{
    display: block;
    border-bottom: 1px solid #fbf9f9;
}
.serviceHover:hover ul.dropdown li a:hover{
    color: #285C47;
}
.ordersummary {
    position: sticky;
    /* top: 163px; */
    border: 1px solid #3333;
    padding: 20px 35px;
    border-radius: 20px;
    background: #2C3238;
    margin: 12px 0;
    color: #fff;
}
.ordersummary h3 {
    font-size: 22px;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 700;
}
.academic_paper ul li {
    font-size: 14px;
    padding: 5px 0;
    display: block;
}
.basic_price h4 {
    font-size: 20px;
    color: #28D07E;
    font-weight: 700;
    margin-bottom: 7px;
}

.academic_paper h4 {
    font-size: 20px;
    color: #28D07E;
    font-weight: 700;
    padding-top: 10px;
}
.basic_price ul li.borderdata{
    font-size: 20px;
    padding-bottom: 10px;
}
.maiChoose .itemchoose:hover{
    background: #28D07E;
}
.mainFeatures div img:hover{
    filter: grayscale(1);
}

.submainitems div div.active:hover{
    background: radial-gradient(50% 50% at 50% 50%, rgba(40, 208, 126, 0.60) 0%, rgba(40, 208, 126, 0.30) 100%);
}
.fixedbtnwhatsapp{
    position: fixed;
    bottom: 1em;
    left: 2rem;
    z-index: 3;
}

.loading-spinner {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }

  .loading-spinner::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: var(--primaryBg);
    border-top-color: var(--secondaryBg);
    border-bottom-color: var(--thirdWhite);
    border-width: 8px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: #28D07E;
    width: 15px;
    height: 15px;
}

.serviceHover ul.dropdown.block{
  display: block;
  position: absolute;
  top: 5.8rem;
  background: #28D07E;
  padding: 1rem 1rem;
  min-width: 320px;
  z-index: 1;
}
.serviceHover ul.dropdown.block li a{
  display: block;
  border-bottom: 1px solid #fbf9f9;
}
  /*media query */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /*body{
      background: pink;
    }*/
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /*body{
      background: yellow;
    }*/
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 1024px to 1366px
  */
  
  @media (min-width: 1024px) and (max-width: 1366px) {
    
    /*body{
      background: orange;
    }*/
  
  
  
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
  
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
  
    .mobileMenu{
        position: absolute;
        top: 7.4rem;
        left: 0;
        right: 0;
      }

      .NavSec.active .mobileMenu{
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
      }
  }
  
  
  
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .mobileMenu{
        position: absolute;
        top: 7.4rem;
        left: 0;
        right: 0;
      }

      .NavSec.active nav.mobileMenu{
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
      }

      a.serviceHover ul.dropdown {
        position: static;
        display: block;
        padding: 1rem 0;
        width: 100%;
    }
    a.serviceHover ul.dropdown.hidden{
      display: none;
    }
    .serviceHover ul.dropdown.block{
      display: block;
      position: static;
      top: 5.8rem;
      background: #28D07E;
      padding: 1rem 1rem;
      min-width: 320px;
      z-index: 1;
    }
    
    .serviceHover ul.dropdown.block li a{
      display: block;
      border-bottom: 1px solid #fbf9f9;
    }
    a.serviceHover ul.dropdown li a{
        border-bottom: 1px solid #28D07E;
        display: flex;
        padding: 10px 0;
    }

    .swiper-slide{
      width: 100% !important;
    }
    .premiumServices{
      width: 40%;
    }
  
  }
  .mobileMenu.hiddenxs{
    display: none;
  }